{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<hr>
<h1>Python Flask Blog</h1>
<hr>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to my blog.</p>
        <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Blogs &raquo;</a>
        </p>
      </div>
    </div>
 </main>

{% endblock %}
